#### PROJECT SPECIFIC
[Gg]ame.exe
[Gg]ame_Data/
[Gg]ame.apk
[Gg]ame.ipa

# things that UnityVS will regenerate by itself
Game/*.csproj
Game/*.csproj.*
Game/Game*.sln

# Rider misc.
Game/.idea/
Game/Assets/Plugins/Plugins/Editor/JetBrains/**
Game/Assets/Plugins/Editor/JetBrains/**
Game/Assets/Plugins/Editor/JetBrains.meta
*.Repacked*

# Unity
Temp/
Obj/
Library/
Library*/
UnityPlayer_Symbols.pdb
WinPixEventRuntime.dll

# Random crap introduced in Unity 2020
Game/UserSettings/
Game/UserSettings/*.asset
Game/Logs/AssetImportWorker*
Game/Logs/ApiUpdater*

# Logging
MyDevSettings.cs*

# MonoDevelop
*.userprefs

# Visual Studio
*.suo
*.user
*.sln.docstates
*/.vs/*
.vs*

# Visual Studio Code
*/.vscode/*
game/Program.cs
game/*.json

# Debug artifacts
*.mdb
*.mdb.meta
*.pdb
*.pdb.meta

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# OS metadata
.DS_Store
Thumbs.db
Thumbs.db.meta
[Dd]esktop.ini
[Dd]esktop.ini.meta
*~

# Switch Builds
*/SwitchIL2CPPCache/*
*/SwitchIL2CPPStats/*

# Builds
Game/Builds/*
Builds/out*